<h1> Time from Rails cache store (from Infinispan): <%= @time %></h1>
<h1> Value from other cache (also from Infinispan): <%= @other_cache_value %></h1>
<div id="messages"></div>

<script src="http://localhost:<%= @endpoint.port %>/stomp.js"></script>

<script type="text/javascript">
  //Open in two browsers and watch the awesome console.log action

  client = new Stomp.Client(); 

  client = new Stomp.Client( "localhost", 8675, false );
  client.connect( function() {

   client.subscribe("/broadcast", function(message) {
      console.log(message);
      console.log(message.body);
      var dom_node = document.getElementById("messages");
      dom_node.innerHTML = dom_node.innerHTML + "<p>" + message.body + "</p>";
    } );

    client.send( "/broadcast", { header1: 'Header 1' }, "Hi, this message went through a WebSocket." );
  });

</script>
